body {
    background-color: #f7f9fc;
}

h1 {
    color: #343a40;
}

.shadow {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.bg-light {
    background-color: #ffffff !important;
}
.video-background {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: -1;
    object-fit: cover; 
}
